{% extends 'base.html' %}
{% block main %}
    <link rel="stylesheet" href="../static/styleAboutUs.css">

    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                We are here to serve you with the best cakes and the most delicios sweets to make your moment unforgetable. Our team is certified from the best schools and has resume for very long time for cocking.
            </p>
            <div class="skills">
                <form action="Contact Us.html">
                <button>Contact Us</button>
            </form>
            </div>
        </div>
    </div>

{% endblock %}