{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="../static/stylephotos.css">
    <div class="top">
        <h1>Bachlorette Party Cakes</h1>
    </div>

    <div class="photosCategory" id="photosCategory">
        {% for C in CList %}
                <div class="pic">
                   <h3 class="cakeName">{{ C.name }}</h3>
                    <a> <img src="{{ C.pic }}" onclick="openPopUp(this.src, '{{ C.name }}', '{{ C.price }}')"></a>
                </div>
        {% endfor %}
    </div>
{% include 'weddingCakePage.html' %}
{% endblock %}