{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="../static/styleContact.css">
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Contact Us</h2>
                <form action="home page.html">
                    <input type="text" class="field" placeholder="Your Name" required>
                    <input placeholder="Your Birthdate" class="field" type="text" onfocus="(this.type='date')" id="date" required>
                    <input type="email" class="field" id="email" placeholder="Your Email" required>
                    <input type="Phone" class="field" placeholder="Your Phone" minlength="10" maxlength="10" pattern="[0-9]+" required >
                    <textarea class="field area" placeholder="Message" required></textarea>
                    <label for="gender" class="field2">Gender:</label>
                    <input type="radio" name="gender" class="field2" value="Male">Male
                    <input type="radio" name="gender" class="field2" value="Female">Female
                    <button class="btn">Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}