<footer class="footer">
    <div class="footerContainer">
        <div class="row">
            <div class="footerCol">
                <h4>Company</h4>
                <ul>
                    <li><a href="/aboutUs">About Us</a></li>
                    <li><a href="/ourTeam">Our Team</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <h4>Terms & Conditions</h4>
                <ul>
                    <li><a href="/accessibility">Accessibility</a></li>
                    <li><a href="/privacyPolicy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <h4>Follow Us</h4>
                <div class="socialLinks">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>