<footer class="footer">
    <div class="footerContainer">
        <div class="row">
            <div class="footerCol">
                <h4>Company</h4>
                <ul>
                    <li><a href="../Templates/About Us.html">About Us</a></li>
                    <li><a href="Our Team.html">Our Team</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <h4>Terms & Conditions</h4>
                <ul>
                    <li><a href="../Templates/Accessibility.html">Accessibility</a></li>
                    <li><a href="../Templates/Privacy Policy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <h4>Follow Us</h4>
                <div class="socialLinks">
                    <a href="#"><i class="fab fa-facebook-f"></i></li></a>
                    <a href="#"><i class="fab fa-instagram"></i></li></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></li></a>
                </div>
            </div>
        </div>
    </div>
</footer>