{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="../static/styleHome.css">
    <body id="body">

    <div class="top">
        <h1>Welcome To MY CAKE</h1>
        <h3>Choose a Cake And Custome It To Your Own Preferences</h3>
    </div>

    <div class="photosCategory" id="photosCategory">
        {% for C in CList %}
            <div class="pic">
                <h3 class="categoryName">{{ C.name }}</h3>
                <a href="{{ C.link }}"><img id="hh" src="{{ C.pic }}" alt="{{ C.name }}"></a>
            </div>
        {% endfor %}
    </div>

    <div class="section2">
        <div class = "recommendation">
            <h3>"I orderd a cake for my wedding a few days before, because my former suppliar had to cancle at the last
                minute. Dana from my cake disigned me the cake of my dreams and it turned out more beutifull than I could imagine!"  </h3>
        </div>
        <div class = "recommendation">
            <h3>"My best friend had a bachlorette party, and I was responsible for the cake. Another friend recommended
                me about MyCake and they made me the most amazing cake! It was the center of attention and a magor success"  </h3>
        </div>
        <div class = "recommendation">
            <h3>"My daughter had a dream for her birthday to have a princess cake. I ordered for her
                birthday party a princess cake with a customized greeting and it turned out perfect! She just loved it, highly recommended! "  </h3>
        </div>
    </div>

    <div class="section4">
        <div >
            <i id="i" class="fa-solid fa-users fa-10x"></i>
            <h2> More than 100,000 registered members</h2>
        </div>
        <div>
            <i id="i" class="fa-solid fa-medal fa-10x" ></i>
            <h2>Best online cake business for the 3rd year in a row</h2>
        </div>
        <div>
            <i id="i" class="fa-solid fa-gift fa-10x"></i>
            <h2> More than 150 orders every day</h2>
        </div>
    </div>

    <div class="section3">
        <h3>"You can't buy happiness but you can buy cake, and that's kind of the same thing"</h3>
        <h2>MyCake Team</h2>
    </div>

    </body>

{% endblock %}