{% extends 'base.html' %}

{% block main %}
        <link rel="stylesheet" href="../static/styleOurTeam.css">
        <div class="container2">
            <div class="header"><h1>Our Team</h1></div>
            <div class="sub-container">
            <div class="teams">
                <img src="../static/our team/Lior.jpg" alt="">
                <div class="name">Lior</div>
                <div class="designation">web developer</div>
                <div class="about">Hi I'm Lior and this is my web project</div>
                <div class="social-links">
                    <a href="https://www.facebook.com/lior.yosef.3" ><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/lior-yosef-93069b198/" ><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" ><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="../static/our team/Yovel.jpg" alt="">
                <div class="name">Yovel</div>
                <div class="designation">web developer</div>
                <div class="about">Hi I'm Yovel and this is my web project</div>
                <div class="social-links">
                    <a href="https://www.facebook.com/yovel1" ><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/yovelgani/" ><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" ><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="../static/our team/Noam.jpg" alt="">
                <div class="name">Noam</div>
                <div class="designation">web developer</div>
                <div class="about">Hi I'm Noam and this is my web project</div>
                <div class="social-links">
                    <a href="https://www.facebook.com/arbesfeld" ><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/noam-arbesfeld-403515233/" ><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" ><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="../static/our team/Dana.jpeg" alt="">
                <div class="name">Dana</div>
                <div class="designation">web developer</div>
                <div class="about">Hi I'm Dana and this is my web project</div>
                <div class="social-links">
                    <a href="https://www.facebook.com/dana.shkolnik.5" ><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/dana-shkolnik-472753223/" ><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" ><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        </div>
{% endblock %}