{% extends 'base.html' %}

{% block main %}
        <link rel="stylesheet" href="../static/styleContact.css">
    <div class="container">
        <div class="contact-box">
            <h2>Privacy Policy</h2>
            <p style="text-align: left; margin: 20px;">Sally’s Baking Addiction, LLC (“we” or “us” or “our”) respects
                the privacy of our users (“user” or “you”). This Privacy Policy explains how we collect, use, disclose,
                and safeguard your information when you visit our website (https://sallysbakingaddiction.com/) or any
                other media form, media channel, mobile website, or mobile application related or connected thereto
                (collectively, the “Website”). Please read this Privacy Policy carefully. <br> <br> IF YOU DO NOT AGREE
                WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE WEBSITE. <br> <br> We reserve the right
                to make changes to this Privacy Policy at any time and for any reason. We will alert you about any
                changes by updating the “revised” date of this Privacy Policy. Any changes or modifications will be
                effective immediately upon posting the updated Privacy Policy on the Website, and you waive the right to
                receive specific notice of each such change or modification. You are encouraged to periodically review
                this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be
                subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your
                continued use of the Website after the date such revised Privacy Policy is posted.</p>
        </div>
    </div>

{% endblock %}