
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In/Log In</title>
    <link rel="stylesheet" href="../static/styleGeneral.css">
    <link rel="stylesheet" href="../static/css_signIn3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <script defer src="../static/signIn3.js"></script>
</head>
<body>
<nav class="navigationBar">
    <div class="logo">
        <img src="../../../Static/logo%20without.jpg">
    </div>
    <ul>
        <li><a href="../../../Templates/home%20page.html">Home Page</a><i class="fa fa-solid fa-house"></i></li>
        <li><a href="">Sign In/Log In</a><i class="fa fa-solid fa-arrow-right-to-bracket"></i></li>
        <li><a >Birthday Cakes</a><i class="fa fa-solid fa-cake-candles"></i>
            <div class="subMenu1">
                <ul>
                    <li><a href="../../../Templates/girl%20cakes.html">Girl Cakes</a></li>
                    <li><a href="../../../Templates/boy%20cakes.html">Boy Cakes</a></li>
                    <li><a href="../../../Templates/adult%20cakes.html">Adult Cakes</a></li>
                    <li><a href="../../../Templates/num%20_%20letter%20cakes.html">Number & Letter Cakes</a></li>
                </ul>
            </div>
        </li>
        <i class="fa-duotone fa-rings-wedding"></i>
        <li><a >Wedding Cakes</a><i class="fa fa-solid fa-gem"></i>
            <div class="subMenu1">
                <ul>
                    <li><a href="../../../Templates/wedding%20cakes.HTML">Wedding Cakes</a></li>
                    <li><a href="../../../Templates/ring%20cakes.html">Ring Cakes</a></li>
                    <li><a href="../../../Templates/bachlorette%20party%20cakes.html">Bachelorette Party Cakes</a></li>
                </ul>
            </div>
        </li>
        <li><a >Our Classics</a><i class="fa fas fa-chart-pie"></i>
            <div class="subMenu1">
                <ul>
                    <li><a href="../../../Templates/pies.html">Pies</a></li>
                    <li><a href="../../../Templates/yeast%20cakes.html">Yeast Cakes</a></li>
                    <li><a href="../../../Templates/special%20cakes.html">Our Specials</a></li>
                </ul>
            </div>
        </li>
        <li><a href="../../../Templates/Contact%20Us.html">Contact Us</a><i class="fa fa-solid fa-file-signature"></i>
    </ul>
</nav>

<section class="user">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="user_unregistered-title">Don't have an account yet?</h2>
                <p class="user_unregistered-text">Sign up to MyCake now! !</p>
                <button class="user_unregistered-signup" id="signup-button">Sign up</button>
            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">Already have an account!</h2>
                <p class="user_registered-text">Get started and choose your dream cake..</p>
                <button class="user_registered-login" id="login-button">Login</button>
            </div>
        </div>

        <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-login">
                <h2 class="forms_title">Log In</h2>
                <form action="/logIn" class="forms_form" method="post">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="text" name="username" placeholder="Username" class="forms_field-input" required autofocus />
                        </div>
                        <div class="forms_field">
                            <input type="text" name="password" placeholder="Password" class="forms_field-input" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="button" class="forms_buttons-forgot">Forgot password?</button>
                        <input type="submit" value="Log In" class="forms_buttons-action">
                    </div>
                </form>
            </div>
            <div class="user_forms-signup">
                <h2 class="forms_title">Sign Up</h2>
                <form action="/insert_costumer" method="post" class="forms_form" >
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="text" name="username" placeholder="Username" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input type="text" name="fullName" placeholder="Full Name" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input type="email" name="email" placeholder="Email" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input type="password" name="password" placeholder="Password" class="forms_field-input" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <input type="submit" value="Sign up" class="forms_buttons-action">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

        {% if logIn_message %}
            <h3 >{{ logIn_message }}</h3>
        {% endif %}
        {% if message_i %}
            <h3 >{{ message_i }}</h3>
        {% endif %}
<footer class="footer">
    <div class="footerContainer">
        <div class="row">
            <div class="footerCol">
                <h4>Company</h4>
                <ul>
                    <li><a href="../../../Templates/About%20Us.html">About Us</a></li>
                    <li><a href="../../../Templates/Our%20Team.html">Our Team</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <h4>Terms & Conditions</h4>
                <ul>
                    <li><a href="../../../Templates/Accessibility.html">Accessibility</a></li>
                    <li><a href="../../../Templates/Privacy%20Policy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <h4>Follow Us</h4>
                <div class="socialLinks">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>


</body>
</html>